.bloc_logo{

    .logo{
        // @include Border_Test(red);
        font-size: 36px;
        text-transform: uppercase;

        span{
            color: $txt_color_3;
        }
    }
}

footer{
    .bloc_logo{
        // background-color: red;
        margin: auto;
    }
}