
.bloc_gallery{
    @include phone{
        margin: 0 50px;
    }
}

// .swiper{
// }
// .swiper-wrapper{
// }
.swiper-slide{
    @include Dfx-JCc-AIc;

    img{
        object-fit: cover;
    }
}

.bloc_float{
    background-color: transparent;
    color: transparent;
    position: absolute;
        left: 0;
    height: 100%;
    width: 100%;
    @include Dfx-JCc-AIc;
    flex-direction: column;
    gap: 23px;
    @include phone{
        gap: 5px;
    }
    @include ipad_max{
        gap: 15px;
    }
    text-align: center;
    cursor: pointer;

    &:hover{
        background-color: #000000E5;
        
        h3, p{
            color: $txt_color_1;
        }
        
        .date{
            color: $txt_color_2;
        }

        i, .note{
            color: $txt_color_3;
        }

        // p{}
    }
    
    // &:hover h3,
    // &:hover p{
    //     color: $txt_color_1;
    // }

    // &:hover .date{
    //     color: $txt_color_2;
    // }

    // &:hover i,
    // &:hover .note{
    //     color: $txt_color_3;
    // }

    h3,.date{
        font-size: 20px;
        font-weight: 700;
    }
    // .date{
    // }
    i, .note{
        font-size: 32px;
    }
}


// buttons swiper
.bloc_gallery{
    position: relative;
}
.swiper-button-next,
.swiper-button-prev{
    display: block;
    // z-index: 2000;
    i{
        font-size: 18px;
        color: $txt_color_1;
    }
}
.swiper-button-next{
    right: -40px;
    // position:absolute
}
.swiper-button-prev{
    left: -30px;
}
.swiper-button-next::after, 
.swiper-button-prev::after{
    content: '';
}