$bg_color_1: #191B20;
$bg_color_2: #141517;
$bg_color_2_2: #1415176f;
$bg_color_3: #CC0000;
$bg_color_3_hover: #cc000082;

$bg_shadow: #000000E5;

$txt_color_1: #FFFFFF;
$txt_color_2: #B8B8B8;
$txt_color_3: #CC0000;